body{
    box-sizing: border-box;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSyHM02CigyFC6gatwru6IUE7C2YRfdiJNGXA&usqp=CAU);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.wrapper_window{
    width: 800px;
    min-height: 600px;
    margin: 20px auto;
  
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
button{
    width: 350px;
    font-size: 2.5em;
   margin:20px;
   margin-left: 200px;
    background-color: rgb(11, 2, 34);
    color: aliceblue;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}

.gorilas{
    width: 700px;
    height: 400px;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQtuF_zlzl_82Bv8A1vFY_-aSh9rnZNzb0Djg&usqp=CAU);
}
button:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    background-color: rgb(42, 28, 105);
    color: rgb(116, 158, 192);
}